<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.udacity.jokeviewer">

    <application>
        <activity
            android:name=".jokeActivity"
            android:label="@string/title_activity_joke"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
</manifest>